# David Ollech

## Research question/interests

Our data provides information on medical expenses that can be sorted via BMI and gender.  BMI stands for Body Mass Index, which is a value derived from taking a person's height and multiplying by their weight. BMI gives a rough idea whether the average person is underweight, normal weight, or overweight.  My hypothesis is that people with higher BMI's will experience higher medical bills.  I will compare the medical expenses of people who are normal weight, overweight, and obese.  I will further break this down between men and women to see in which gender the effect, if any, is greater.

Plan:
-I will drop the columns: children/smoker/region
-I will pivot between male, female and all
-I will add columns: underweight, normal weight, overweight, obese
-I will take the mean of each of these columns
-I will plot these categories on the x-axis and medical costs on the y axis and create a scatterplot

In [1]:
import pandas as pd
pd.read_csv("../data/raw/insurance.csv")

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]