# Tong Phasutha-Ekkasit

## Research question/interests

**Which regions of the US have the highest medical expenses?**

I am interested to explore how can regions determine the medical expenses of individuals. I would like to know the relationship between regions and medical expenses. I believe that, by exploring this relationship, it may provide insight into whether the medical expenses will be high or low impacted by places where people are located. It can be because other factors, such as weather, the cost of living, the standard of living in each region, can influence the price or medical cost of individuals.


My brief plan:
1. I will perform datset first.
2. I will clean data and present only columns that are related to my research questions.
3. I will do more some research and use other sources to support my questions and answers.

In [ ]:
import pandas as pd
pd.read_csv("../data/raw/insurance.csv")

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]