In [2]:
import pandas as pd

In [3]:

def load_and_process(url_or_path_to_csv_file):
   
    def bmi_category(bmi):
        if bmi < 16:
            return 'Underweight'
        elif 16 <= bmi <= 18.4:
            return 'Underweight'
        elif 18.5 <= bmi <= 24.9:
            return 'Normal'
        elif 25 <= bmi <= 29.9:
            return 'Overweight'
        else:
            return 'Obese'

    
    def age_category(age):
        if age < 19:
            return 'teen'
        elif 20 <= age <= 29:
            return '20s'
        elif 30 <= age <= 39:
            return '30s'
        elif 40 <= age <= 49:
            return '40s'
        elif 50 <= age <= 59:
            return '50s'  
        else:
            return '60s'

    new_order = ['age_group', 'age', 'sex', 'children', 'has_children', 'smoker', 'region', 'bmi', 'BMI_Category']
    
    df1 = (
        pd.read_csv(url_or_path_to_csv_file)
        .drop(columns=['charges'])
        .assign(has_children=lambda x: x['children'].apply(lambda c: 'yes' if c > 0 else 'no'))
        .assign(BMI_Category=lambda x: x['bmi'].apply(bmi_category))
        .loc[lambda x: x['bmi'] >= 18.5]
    )
    
    df2 = (
        df1
        .assign(age_group=lambda x: x['age'].apply(age_category))
        .pipe(lambda x: x.reindex(columns=new_order))
        .rename(columns={"sex": "gender"})
        .sort_values('BMI_Category', ascending=True)
        .reset_index(drop=True)
    )

    return df2


data = load_and_process("../data/raw/insurance.csv")
data

,age_group,age,gender,children,has_children,smoker,region,bmi,BMI_Category
0,40s,46,female,2,yes,no,northwest,19.950,Normal
1,60s,19,female,0,no,no,northwest,22.515,Normal
2,teen,18,female,0,no,yes,northeast,21.660,Normal
3,50s,55,male,1,yes,no,southwest,21.500,Normal
4,40s,43,female,2,yes,yes,northeast,20.045,Normal
...,...,...,...,...,...,...,...,...,...
1313,20s,21,male,0,no,no,northeast,27.360,Overweight
1314,30s,34,female,1,yes,no,northwest,26.410,Overweight
1315,40s,47,female,1,yes,no,northwest,29.545,Overweight
1316,30s,36,male,3,yes,no,northeast,28.880,Overweight
1317,60s,61,female,0,no,yes,northwest,29.070,Overweight

In [47]:
data = pd.read_csv("../data/raw/insurance.csv")

def bmi_category(bmi):
    if bmi < 16:
        return 'Underweight'
    elif 16 <= bmi <= 18.4:
        return 'Underweight'
    elif 18.5 <= bmi <= 24.9:
        return 'Normal'
    elif 25 <= bmi <= 29.9:
        return 'Overweight'
    else:
        return 'Obese'



df1 = (
    pd.DataFrame(data)
    .drop(columns=['charges'])
    .assign(has_children=lambda x: x['children'].apply(lambda c: 'yes' if c > 0 else 'no'))
    .assign(BMI_Category=lambda x: x['bmi'].apply(bmi_category))
    .loc[lambda x: x['bmi'] >= 18.5]

)
    
df1

,age,sex,bmi,children,smoker,region,has_children,BMI_Category
0,19,female,27.900,0,yes,southwest,no,Overweight
1,18,male,33.770,1,no,southeast,yes,Obese
2,28,male,33.000,3,no,southeast,yes,Obese
3,33,male,22.705,0,no,northwest,no,Normal
4,32,male,28.880,0,no,northwest,no,Overweight
...,...,...,...,...,...,...,...,...
1333,50,male,30.970,3,no,northwest,yes,Obese
1334,18,female,31.920,0,no,northeast,no,Obese
1335,18,female,36.850,0,no,southeast,no,Obese
1336,21,female,25.800,0,no,southwest,no,Overweight
1337,61,female,29.070,0,yes,northwest,no,Overweight

In [48]:

def age_category(age):
    if age < 19:
        return 'teen'
    elif 20 <= age <= 29:
        return '20s'
    elif 30 <= age <= 39:
        return '30s'
    elif 40 <= age <= 49:
        return '40s'
    elif 50 <= age <= 59:
        return '50s'  
    else:
        return '60s'
    
new_order = ['age_group', 'age', 'sex', 'children', 'has_children', 'smoker', 'region', 'bmi', 'BMI_Category']

df1 = (
    df1
    .assign(age_group=lambda x: x['age'].apply(age_category))
    .pipe(lambda x: x.reindex(columns=new_order))
    .rename(columns={"sex": "gender"})
    .sort_values('BMI_Category', ascending=True)
    .reset_index(drop=True)
)

df1

,age_group,age,gender,children,has_children,smoker,region,bmi,BMI_Category
0,40s,46,female,2,yes,no,northwest,19.950,Normal
1,60s,19,female,0,no,no,northwest,22.515,Normal
2,teen,18,female,0,no,yes,northeast,21.660,Normal
3,50s,55,male,1,yes,no,southwest,21.500,Normal
4,40s,43,female,2,yes,yes,northeast,20.045,Normal
...,...,...,...,...,...,...,...,...,...
1313,20s,21,male,0,no,no,northeast,27.360,Overweight
1314,30s,34,female,1,yes,no,northwest,26.410,Overweight
1315,40s,47,female,1,yes,no,northwest,29.545,Overweight
1316,30s,36,male,3,yes,no,northeast,28.880,Overweight
1317,60s,61,female,0,no,yes,northwest,29.070,Overweight